# Enviroment Files
/env
.env
credentials.json
token.json
__pycache__/*
*/__pycache__/*
notified.json

# Test Files
Last_View.png
test.py

# Log Files
logs.log

# Local Files
/lib
Zero Click Recaptcha Solver.user.js