@charset "utf-8";

/* CSS document written by Harish Kohli */



@media all and (max-width:767px){

body{}
.wrap{ width:100%; display:block;}
.content {font-size:11px; line-height:16px; text-align:justify;}
.content p{ line-height:18px; font-size:13px;}
.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-1Forth,.col-sm-1Third,.col-sm-3Forth{ width:100%;}
.mobRow{ width:100%;}
.mobPaddingNone{ padding:0px!important;}
.mobMarginNone{ margin:0px!important;}
.mobmarginBtm30{ margin-bottom:30px;}
.mobAlignCenter{ text-align:center;}
.mobAlignJustify{ text-align:justify;}
.mobAlignLeft{ text-align:left;}
.mobmarginTop{ margin-top:10px;}
.mobDivCenter{ margin:0 25% 10px; float:none; display:block; width:50%;}
.mobwidth{margin:0 15% 10px; width:70%;}
.moblineheight{ line-height:20px;}
.mobGap{ padding:0px;}
.mob10{ width:10%;}
.mob20{ width:20%;}
.mob30{ width:30%;}
.mob40{ width:40%;}
.mob50{ width:50%;}
.mob60{ width:60%;}
.mob70{ width:70%;}
.mob80{ width:80%;}
.mob90{ width:90%;}
.mobDisplayNone{ display:none;}
.paddingLeft, .paddingRight{ box-sizing:border-box;}


/*theme style*/
.headerSection .pull_right.paddingInBox.whiteBG.roundCornerExtra{ padding:5px;}
.headerSection .pull_right.paddingInBox{padding:18px 5px 18px 0px;}
.headerSection .pull_right.paddingInBox.whiteBG.roundCornerExtra .padding-sm{ padding:2px;}
.menuIcon{ position:absolute; left:10px; top:20px; padding:2px; box-sizing:border-box; display:block; background:#fff; border-radius:2px; cursor:pointer;}
.logoSection{ margin-left:40px;}
.navigationPanel:after{ position:absolute; left:15px; top:-20px; border:solid 10px; border-color:transparent transparent #000 transparent; content:"";}
.navigationPanel{ display:none; position:absolute; top:66px; background:rgba(0,0,0,0.9); left:0px;}
.navigationPanel a:nth-child(1){ background:#ccc;}
.navigationPanel a{ padding:15px 25px; border-left:0px; border-bottom:solid 1px #666; width:100%; text-align:left; padding:10px 10px; color:#fff;}
.navigationPanel a:nth-child(3){ display:none;}
.applyCaptionBox{ margin:20px 20px; width:250px; padding:15px; display:table;}
.applyCaptionBox h1{ font-size:24px; }
.applyCaptionBox .row.paddingupdwn.marginBottom.marginTop{ margin-top:0px; padding-top:0px;}
.slideshow{ width:100%;}
.title{ width:80%; margin-bottom:10px; font-size:20px; padding:13px 10px;}
.visaProcessItemBox{ width:100%; padding:10px 20px 20px;}
.aboutUsPanel{ padding:10px; box-sizing:border-box;}
.aboutUsPanel h1{ font-size:24px;}
.aboutUsPanel h5{ font-size:13px; line-height:20px;}
.aboutBG{ padding:10px; box-sizing:border-box;}
.aboutBG h1{ font-size:24px;}
.aboutBG h5{ font-size:13px; line-height:20px;}
.boxSet{ width:98%;}
.footerSection .col-sm-1Forth{ width:100%;}
.footerSection .col-sm-1Forth:nth-child(2) h3{ display:none;}
.footerSection .col-sm-1Forth:nth-child(3) h3{ display:none;}
.footerSection h3{ font-size:16px;}
div.flexmenumobile ul{width:100%!important;}
div.flexmenumobile ul li{width:100%!important;}
div.flexmenumobile ul li a{ background:#fff!important; font-weight:normal; width:100%!important; font-size:12px!important;}
div.flexmenumobile ul li.breadcrumb{font-weight:normal; width:100%!important; font-size:12px!important;}
div.flexmenumobile ul img.backarrow{ margin-right:0px!important; position:absolute; right:5px!important; top:11px;}
div.flexmenumobile ul img.rightarrow{margin-right:0px!important; position:absolute; right:-5px!important; top:11px;}
.accordion_container{ margin-top:0px;}
.accordion_head .statusicon{ top:4px; right:5px;}
.accordion_head{ font-size:13px; padding:5px 40px 5px 10px;}
.accordion_body{ padding:10px 10px; line-height:18px; font-size:11px;}
#ref input{ width:100%!important;}
form .col-sm-5.container .col-sm-1{ width:10%!important; clear:both;}
form .col-sm-5.container .col-sm-4{ width:90%!important;}
.tabs-menu{ width:23%;}
.tab{ width:77%; box-sizing:border-box;}
.tabs-menu li{ margin-right:0px; border-radius:0px; width:100%; box-sizing:border-box;}
.tabs-menu li a{ padding:3px 5px; font-size:11px; border-radius:0px; width:100%; box-sizing:border-box; border-right:0px; line-height:16px; height:45px;}
.tabs-menu li a.current, .tabs-menu li.current{ border-radius:0px; position:relative;}
.tabs-menu li.current:after{ content:""; position:absolute; right:-16px; top:0px; border-style:solid; border-width:22px 8px; border-color:transparent transparent transparent #08376a;}
.tab-panel{ margin-top:0px;}
.tab-content{ padding:10px; min-height:263px;}
.tab-content p{ line-height:18px; font-size:11px; margin-bottom:5px;}
.table th { padding:2px; vertical-align:top; text-align:left; background:#f1f1f1; font-weight:normal; box-sizing:border-box;}
.table td { padding:2px; vertical-align:top; text-align:left; box-sizing:border-box; font-size:11px;}
.points ul li{ text-align:justify; width:97%; margin:0px 0px 5px 3%;}
.paddingLeft.marginLeft{ margin-left:0px;}
.points ul li{ font-size:11px; line-height:18px;}
.link{ font-size:11px;}
.footerSection{ font-size:11px; line-height:18px; padding-top:10px;}
iframe{ width:320px;}
.form-control-input{ width:100%!important;}
/*.visaProcessPanel a:nth-child(2){ pointer-events:none; cursor:default; display:none;}*/
.popup{ width:90% !important; height:70% !important; overflow-y: scroll; overflow-x:hidden;}
}


/*ipad*/
@media all and (min-width:768px) and (max-width:1024px){
}

